doctype
html
  head
    title Dodger.io.ly
    link(type='text/css' rel="stylesheet" href="./css/main.css")
  body
    canvas(style='border:1px solid #000000;', width='500', height='500' id ='game')
    img(src='images/poop.png' id ='player1' hidden)
script(src='/socket.io/socket.io.js')
script(src='/main.js')
