doctype html
html
  head
    title Dodger.io.ly
  body
    h1 Dodger
    form(method='POST')
      label(for='username') Username
      input.form-control#email(type='text' name='username' placeholer='Username')
      input.btn.btn-success.btn-lg(type='submit' value='Submit')
