doctype html
html
  head
    title Dodger.io.ly
  body
    h1 Dodger
    a(href='/game/create') Create game
  ul
    each game, i in games
      li 
        if games[i].id != games[i].id
        a(href=`/game/${game.id}`) #{game.id}
